<?xml version="1.0"?>
<launch>

 <!-- TO-DO: Bring up the simulator and the code -->
 <include file="$(find racecar_gazebo)/launch/racecar.launch">
    <arg name="world_name" value="racecar_wall"/>
 </include>
 
 <node pkg="race" name="sim_connector_node" type="sim_connector.py"/>
 <node pkg="race" name="keyboard_node" type="keyboard.py" output="screen"/>
 <node pkg="automatic_emergency_braking" name="aeb" type="aeb.py" output="screen"/>
</launch>
